@tailwind base;
*{
    scrollbar-width: thin;
}
*::-webkit-scrollbar{
    width: 10px
}
*::-webkit-scrollbar-track{
    background-color: #051322
}
*::-webkit-scrollbar-thumb{
    background-color: #0e2842;

}
@tailwind components;
@tailwind utilities;
